<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      @for(item of empList;track item.id){
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.salary}}</td>
          <td>{{item.email}}</td>
          <td><a [routerLink]="['/employees', item.id,'edit']">Edit</a>
              <button class="btn btn-danger" (click)="deleteEmp(item.id)">Delete</button>
          </td>
        </tr>
      }
      
    </tbody>
  </table>