<div class="container">
    <form (ngSubmit)="onSubmit(f)"  #f = 'ngForm'>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" 
             name="username" 
            placeholder="username" [ngModel]="username">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" 
            id="email" name="email" 
            placeholder="name@example.com" [ngModel]="email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
