
<div class="container">
    <form [formGroup]="formGroup1" (ngSubmit)="onSubmit()">
      
        @if(isUsernameInvalid){
            <p>Invalid usernmae </p>
        }
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" 
            id="username" name="username" 
            [formControl]="formGroup1.controls.username"
            >
        </div>


        @if(isEmailInvalid){
            <p>Invalid Email</p>
        }
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" 
            id="email" name="email" 
            [formControl]="formGroup1.controls.email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>