<div class="container">
    <form (ngSubmit)="onSubmit()" #f = "ngForm">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" 
             name="username" 
             required
             ngModel>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" 
            id="email" name="email" 
            required
            email
            ngModel>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
</div>
